* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: black;
    background-image:url("images/wooden.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width:100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
#front{
    background-image: url("images/restra.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
header{
    font-family: 'Source Code Pro', monospace;
    font-size: 25px;
    color: orange;
}
h1{
    padding-top: 30px;
    margin-left:4vw;
}
nav{
    font-family: 'Comfortaa', cursive;
    font-size:18px;
    margin-right: 4vw;
}
nav ul{
    width: 50vw;
    float: right;
    margin-top:-2.5em;
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-around;
    color: mediumaquamarine;
} 
nav ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.6s linear;
}
a:hover{
    background-color: #fff;
    color: black;
}
@media(max-width:820px) {
    h1{
        text-align: center;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 50vh;
        margin: 2em 0;
        padding: 0 1em;
    }
    nav ul li{
        display: flex;
        justify-content: center;
        width: 10em;
        margin-top: 0.5em;
        flex-wrap: wrap;
        flex-direction: column;
    }
}
.heading{
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-size:45px;
}
@media(max-width:830px){
    .heading{
        font-size: 30px;
    }
}
@media(max-width:460px){
    .heading{
        font-size: 20px;
    }
}
h3{
    font-family: 'Lobster', cursive;
    font-size: 40px;
}
img{
    width: 15em;
    height: 15em;
    border-radius: 50%;
}
.product{
    padding-left: 8vw;
    padding-top: 3em;
    padding-right: 8vw;
    padding-bottom: 3em;
    margin-bottom:1.5em;
}
#pizza,#pasta,#cake{
    padding-left: 18em;
    margin-top: -14em;
    margin-right: 15em;
}
#productEven{
    float: right;
}
#dosa,#chole{
    padding-right: 18em;
    margin-left: 15em;
}
@media(max-width:980px){
    img{
        width: 13em;
        height: 13em;
    }
    h3{
        font-size: 28px;
    }
    #pizza,#pasta,#cake{
        margin-right: 7em;
    }
    #dosa,#chole{
        margin-left: 7em;
    }
}
/*@media(max-width:680px){
    #pizza,#pasta,#cake{
        margin-right: 2em;
    }
    #dosa,#chole{
        margin-left: 2em;
    }

}*/
@media(max-width:720px){
    h3{
        text-align: center;
    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto; 
    }
    .product{
        padding-left: 2em;
        padding-top: 0.5em;
        padding-right: 2em;
        margin-bottom:0;
    }
    #productEven{
        float: none;
    }
    #pizza,#pasta,#cake,#dosa,#chole{
        margin-top: 1em;
        margin-left: 0;
        margin-right: 0;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
}
#contact{
    width: 100%;
    height: 100vh;
    margin-top: 5em;
    margin-bottom: 3em;
    color: rgb(238, 186, 74);
}
form{
    background-color: burlywood;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 0.25em;
    width:330px;
    height: auto;
}
input,button,textarea{
    width: 300px;
    margin:0;
    margin-left: 15px;
    margin-bottom: 5px;
    font-family: serif;
    font-size: 1.25em;
    line-height: 1.5;
}
#submit{
    display: block;
    width: 300px;
    padding: 0.75em;
    margin-left: 15px;
    background: lightseagreen;
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
}
/*@media(max-width:){
    form{
        width:280px;
    }
    input,button,textarea,button{
        width:250px;
    }
}*/
#foot{
    background-color: #303841;
    height: 70vh;
}
footer{
    width: 100%;
    border-top: 4px solid #be3144;
}
/* Personal Contact section Start*/

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 50vh;
    margin: 2em 0;
    padding: 0 1em;
  }
  .contact-section-header > h2 {
    font-size: 4em;
  }
  @media (max-width: 780px) {
    .contact-section-header > h2 {
      font-size: 2em;
    }
    #foot{
        height: 100vh;
    }
  }
  @media (max-width: 560px) {
    .contact-section-header > h2 {
      font-size: 1.5em;
    }
  }
  
  .contact-section-header > p {
    font-style: italic;
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2em;
    flex-wrap: wrap;
  }

  .contact-details {
    font-size: 2em;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
  }
  .contact-details:hover {
    transform: translateY(8px);
  }
  @media(max-width:780px){
    .contact-section{
        height: 80vh;
    }
    .contact-links{
        width:60%;
        flex-direction:column;
    }
    .contact-details{
        font-size: 1.5em;
    }
    .contact-details:hover {
        transform: translateX(5px);
      }
}

  /*Personal Contact Section End*/